[2012-04-11 20:14] seblu opened #1 "Release tarball"
- Current release tarball 0.6.2 in pypy doesn't have License.txt and REAME.rst, so setup.py fail to install.
- Github doesn"t have release tarball available.

[2012-04-11 21:04] #1 closed, assigned to nobody

[2012-10-25 12:34] yomguy opened #2 "yaml and json conf files"
DeeFuzzer should be able to :
- [x] read yaml and json conf files (recognition based on mimetypes)
- [x] Additionally, it should accept any configuration as an attribute of the DeeFuzzer class instance.

[2013-03-23 10:50] daslicht opened #3 "Follow metadata in time from CUE or JSON files"
Hello is it feasible to create a Radio Station only with DeeFuzzer which have the following features:
Stream seamless prerecorded DJ Mixes which are essentially one BIG audio
file and provide the listener with Song Information. (for each song in the mix)

I have tried different approaches like Icecast / Shoutcast.
Just playing a Playlist with files or with crossfades is not good enough.
(always au

[2013-10-14 07:43] yomguy opened #4 "M3U playlist"
DeeFuzzer should be able to read a M3U file to get the playlist.

[2013-12-04 22:25] ChoiZ opened #6 "Multistation doesn't work"
I use a xml config file with 2 stations and on starting deefuzzer:

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 552, in __bootstrap_inner
    self.run()
  File "/usr/local/lib/python2.7/dist-packages/DeeFuzzer-0.6.5_chz-py2.7.egg/deefuzzer/station.py", line 611, in run
    self.channel_open()
  File "/usr/local/lib/python2.7/dist-

[2014-05-21 20:13] #6 closed, assigned to nobody

[2014-05-23 14:09] #2 closed, assigned to nobody

[2014-06-02 11:19] yomguy opened #7 "Multiple relaying with audio AND video makes libshout crazy"
WebM streaming with pycurl together with MP3 streaming with libshout is buggy.
Although I thought the pycurl method would lock the GIL, it seems that urllib is NOT thread safe ! So we need to find a better thread safe solution for relaying.

Bug:
[1244719.263286] deefuzzer[2699]: segfault at 2dfc000 ip 00007f7b6156e8a2 sp 00007f7b5df615c0 error 4 in libshout.so.3.2.0[7f7b61567000+f000]

Some infos

[2014-06-25 07:23] hdezela opened #8 "Error messages in CentOS 6"
I've installed Deefuzzer using pip and when trying to run it I get the following errors:

[code]

[2014-07-05 18:46] #8 closed, assigned to yomguy

[2014-08-02 13:43] ChoiZ opened #10 "Add global path"
Hi Guillaume,

I've edit many times my config file. I think it's great to have a "global" path for "archive", "jingles", "logs", "m3u", "mp3"… Instead of editing, jingles.dir, media.dir, media.m3u.

JSON looks like:
[code]
For jingle example maybe if "dir" doesn't start by "/", you can folder_path before.

[2014-08-02 14:15] ChoiZ opened #11 "Error mkdir"
Hello Guillaume I have this error and I don't understand why:

[code]

I try many things… last version, version 6.5 from december 3 without success.

I don't know if i have to add in my m3u file the full path or not.
Like:
/home/deefuzzer/mp3/artist - song.mp3
Or if my m3u is in /home/deefuzzer/station.m3u only:
mp3/artist - song.mp3

Do I have to escape spaces in my m3u?
mp3/artist\ -\ song.mp3

[2014-08-04 18:11] #11 closed, assigned to nobody

[2014-08-07 06:58] ChoiZ opened #18 "Stream the same content in mp3 + ogg"
Do you think deefuzzer can stream on multiple icecast mountpoint (with the same media source)?
- One stream in 192k mp3
- Another one in 48k ogg
(Or two ogg streams, or two mp3 streams)

[2014-08-07 07:01] ChoiZ opened #19 "update MANIFEST.in"
I think you have to remove CHANGELOG file from manifest right?

[2014-08-07 07:09] ChoiZ opened #20 "Bug in yaml file : description with "à""
In my yaml file my stream description contain "à" character and it's fail.

[code]
[code]
If I replace "là" by "la", it's works well.

Is yaml string are in UTF-8? I haven't test with xml, I can test it ;-).

[2014-08-07 10:00] #19 closed, assigned to nobody

[2014-08-07 12:47] ChoiZ opened #21 "Can't read m3u playlist if media.dir is set."
If you want to read an m3u file you need to remove "media.dir" parameter.

Maybe we can imagine a "mode" for media node:
- mode = file: read the param "source" as media directory.
- mode = playlist: read the param "source" as a playlist.

With this "mode" maybe "dir" and "m3u" can be the "same" parameter named: "source".

[2014-08-07 21:51] ChoiZ opened #22 "Crash when playing songs"
It's works for few hours and crash.
[code]

In my log:
[code]

@yomguy The track_id 150 crash deefuzzer. It contain a "è" character. I don't know why, It can read other tracks with "é" or "ê" or "é" and "è" in same word but not this one. Do you have any idea? Do you have a tool to check file encoding / id3tag encoding?

Other question, does deefuzzer use "ID3tags" or only mp3 filename?

[2014-09-11 19:06] GreG28 opened #24 "How can I stream live video from webcam through Deefuzzer ?"
Hi,
I tried to found a way for stream live video to Deefuzzer.
But I found nothing on it on the documentation online..

I would like to understand, how to make it.
Maybe, in using ffmpeg for made it like a webM flux ?

[2014-11-05 19:48] timecage opened #25 "deefuzzer stops immediately after starting"
Got into configuring deefuzzer to play along with icecast2 on Arch Linux. I'm down to a point where it starts without error but shuts down immediately after, also without any error.
I'd presume it has something to do with mp3s but I can't begin to know how to debug this.
Here's my xml config:

[code]

And here's log fragment:

[code]

Of course 00.00.00.000 stands or my proper public ip address.
C

[2014-11-20 06:09] achbed opened #32 "Empty XML tags causes crash"
An overly-aggressive XML parser is causing any XML files with empty tag values to crash the entire application.

Example:
`<name></name>` causes a crash, `<name> </name>` does not.

As this is an issue with the parser itself (I belive we're using `xml.dom.minidom`), I'm not sure what we can do here.

[2014-12-03 15:30] achbed opened #40 "Crash without logging"
First of all, I suspect this may be my environment.  I'm not sure what's causing it, but DeeFuzzer seems to be crashing about every 13 hours (so far) when playing 10 streams at once.  When it dies, there;s nothing reported to the log at all - just silence.  I'm unable to see anything in any log that says its either stopping or crashed.

Log snippet during a crash/restart:

[code]

[2014-12-03 15:35] achbed opened #41 "Playback now starts with track 2 instead of track 1"
(Affects current dev branch after merge of pull request 39)
Noting here to add to the "fix it before release" queue.

[2014-12-11 09:11] yomguy opened #42 "'ascii' codec can't decode again"
DeeFuzzer fails to decode some chars in the mp3 metadata and stops.

[code]

[2014-12-14 05:11] iyx opened #44 "Doesn't display song titles correctly"
At Icecast2 Status page and also in media player it can't handle some (foreign) chars and instead displays a decimal code.

For example **š** gets displayed as `&#353;`, **č** as `&#269;`, etc. (id3 tag info)

[2014-12-15 09:38] #42 closed, assigned to nobody

[2015-01-05 15:21] yomguy commented on #41
Hi @achbed!
And congrats for the new patestapes.com!
Are your deefuzzer instances stable enough? I'd like to make a release in the next days ;)

[2015-01-05 15:58] achbed commented on #41
It's still stopping individual streams for some reason.  I haven't have
time to fully investigate why (spending time with family over the
holidays).  I plan on making some more changes to ease debugging in the
next week or so.  I'd really like to get this nailed down so we can release
a more stable product.  Other than the dropped streams, performance has
been great so far (up to 18 streams at onc

[2015-01-05 16:18] yomguy commented on #41
Great news for the 18 streams!
OK I will also make some tests during this period.
Have some very good holidays ;)
Cheers

[2015-01-11 23:05] achbed commented on #40
Solved a different way via #45

[2015-01-11 23:05] #40 closed

[2015-01-15 04:14] achbed commented on #41
Did not happen after #45.  Closing.

[2015-01-15 04:14] #41 closed

[2015-01-15 11:08] yomguy commented on #24
https://github.com/yomguy/DeeFuzzer/wiki/HowtoStreamVideo

[2015-01-15 11:08] #24 closed

[2015-01-22 16:45] achbed opened #48 "Certain URLs are hardcoded"
Especially URLs sent to outside services (Twitter).  These should be configurable in some way rather than changing code.

[2015-01-22 16:46] achbed commented on #48
We should probably target 0.8 for these changes rather than 0.7.

[2015-01-24 06:21] nim4n opened #49 "losing Icecast connection after one second"
Hi
I have some problem with running DeeFuzzer, the problem is I can see the my_station.mp3 for one second and after that for some reason I lose the connection and I don't know why! as you can see my xml file is:

    <deefuzzer>
        <log>/home/niman66/Temp/deeF/nima.log</log>
        <m3u>/home/niman66/Temp/deeF/nima.m3u</m3u>
        <station>
            <infos>
                <short_name>m

[2015-01-24 06:23] achbed commented on #49
What's the deefuzzer log say?

[2015-01-24 06:26] achbed commented on #49
I think I may see your problem - there are really two separate M3U files here.  Line 3 is your *output* M3U with reference to the station. The M3U under Media is an *input* M3U file that should contain the media files to play.  If they're the same, things will definitely blow up.

I suggest you change line 3 to ```<m3u>/home/niman66/Temp/deeF/nima-stream.m3u</m3u>``` and see if that helps.

[2015-01-24 06:28] nim4n commented on #49
@achbed ,  yes It works, thanks a lot

[2015-01-24 06:33] achbed commented on #49
No problem!  I'd highly suggest checking out the dev branch if you can.  There's a lot of updates and fixes in there.  I'm now using it for a production site that's running 24/7 with 15+ streams with a single instance of Deefuzzer.  Performance has been great and it's running real smooth.  I think we're getting close to launching a version 0.7 (we're still doing final testing but things are lookin

[2015-01-24 06:34] achbed commented on #4
Is this addressed by #47 ?

[2015-01-24 06:36] #49 closed

[2015-01-24 06:43] achbed commented on #3
I've been using a workaround that involves parsing the file through Audacity, breaking it up into distinct MP3 files (with correct metadata), and loading that up into a folder which Deefuzzer then pushes to the streaming server.  This may be an option short-term, but it is more work.

A cue file for metadata would be kind of neat for setting the metadata instead of breaking up the file and would d

[2015-01-24 06:52] achbed commented on #21
Addressed by #47

[2015-01-24 06:54] achbed commented on #32
Suggest that for 0.7, we leave this as addressed by adding documentation to the XML example file.  We can investigate using an alternate XML parser in 0.8.

[2015-01-24 11:38] daslicht commented on #3
@achbed is the transition between 2 cutted files seamless or do you hear a glitch, click etc ?

[2015-01-24 17:36] achbed commented on #3
It's been seamless for me.  I'm running it on a VPS with an SSD-based drive, so your mileage may vary depending on what hardware you throw at it.

[2015-01-24 17:45] daslicht commented on #3
Hm interesting

[2015-01-24 17:52] yomguy commented on #49
Thanks for helping @achbed.
As too many people don't make the difference so much between the 2 fields, I think we could rename <media><m3u> to <media><playlist>. It could then handle M3U files as some other types, like simple text containing the paths to the media files. What do you think about that?

[2015-01-24 17:58] yomguy commented on #4
No, by #49. As I proposed in #49, ```<media><playlist>``` remacing ```<media><m3u>``` could check the chmod of the file and execute it if it is executable (i.e. 755), then getting the paths through an os.system() output.

[2015-01-24 17:58] achbed commented on #49
See #4, #21 and #47.  We're moving away from separate ```<m3u>``` and ```<dir>``` options (with confusion when you specify both) to a single ```<source>``` that is then handled automatically depending on if it's a folder or file.  If it's a file it's assumed to be an M3U file currently.  We are then set up to start detecting file type and handling things like CUE files.

[2015-01-24 17:59] achbed commented on #4
Ah, I misunderstood the feature request.  We should take a long hard look at this from a security perspective - calling an unknown outside program could be a huge security hole.

[2015-01-24 18:02] yomguy commented on #49
Ah ok, like implemented in #47, ```<source> is good.
So to be clear, we can replace ```<dir>``` and ```<m3u>``` with ```<source>``` and detect the type it, right?

[2015-01-24 18:05] achbed commented on #49
Yes - that's the intent.  The actual effect in that patch is that we use the ```m3u``` value as ```source``` internally, override it with ```dir```, then override that with ```source```.  This ensures that only one will be used, with a preference towards the newer names.  Then at runtime it auto-detects based on whether the internal ```source``` is a folder or a file.

[2015-01-24 18:10] yomguy commented on #4
Yes you're right @achbed, this could be dangerous.
If a script can produce a playlist, it can be executed before the deefuzzer, giving a cue, a m3u or a simple text file. This seems to be sufficient IMHO. OK @sleiman-sleiman?

[2015-01-24 18:10] achbed opened #51 "M3U Input does not handle relative paths"
Currently, using an M3U file as a source does not handle relatives paths.  As specified in https://en.wikipedia.org/wiki/M3U the reader of the M3U should support paths relative to the M3U file location.

[2015-01-24 18:11] yomguy commented on #51
OK, I'll fix this.

[2015-01-24 18:11] achbed commented on #51
I've got a patch pending.  I just created the issue for reference :)

[2015-01-24 18:12] yomguy commented on #49
Great!

[2015-01-24 18:12] yomguy commented on #51
OK ;)

[2015-01-24 18:16] #4 closed

[2015-01-24 18:17] #10 closed

[2015-01-24 18:17] achbed commented on #51
I just pushed another update to the currently pending merge request.  This new path fixes the "relative to the M3U file" part, and undoes the "relative to ```station/base_dir``` fix I had implemented earlier (same merge request).

[2015-01-24 18:21] #51 closed

[2015-01-24 18:22] yomguy commented on #18
Transcoding will not be hardcoded for the moment. And I think it easier and safer to transcode all files - many good tools exist for that - and then manage multiple stations in one deefuzzer instance.

[2015-01-24 18:22] #18 closed

[2015-01-24 18:50] achbed opened #52 "Playlist does not update if MP3 file metadata changes"
The playlist files are not updated when an MP3 file is changed during playback.  This is because the playlists are only generated by the feed code when the playlist itself is changed and not just the metadata in the file(s).

[2015-01-24 19:21] ChoiZ commented on #18
Ok ;)

[2015-01-24 19:49] yomguy commented on #32
Yes +1 for this

[2015-01-24 20:05] #52 closed

[2015-01-24 22:36] yomguy commented on #22
Hi @ChoiZ, could you test again against the last dev branch?

[2015-01-24 23:19] yomguy commented on #32
There is already another parser class based on xml.parsers.expat in tools/xmltodict2.py which I have  already used for others projects with success.

[2015-01-24 23:36] yomguy commented on #3
Although we can of course split a mix into separated files, as the transition is seamless on many tested systems here, I agree the internal timer - probably based on datetime.now() - solution is the best.
The only pb is to setup, from another thread, a good time period to checkout the system time and trig the metadata update if it is superior to the time of the track relatively.
Maybe we also have

[2015-01-25 04:31] achbed commented on #3
Started tackling this as part of a rewrite of the playlist structure.  I've created a new branch (dsw-playlist-object) on my fork to track this.  Basically I'm re-implementing the internal playlist of a station to allow for better use of class structures and improve future expandability.

There are two new classes: playlist and track. Playlist contains the list of tracks and all code to maintain t

[2015-01-25 11:11] daslicht commented on #3
Great news !

[2015-01-25 13:03] ChoiZ commented on #22
Ok I'll upgrade it.

[2015-01-27 11:08] nim4n opened #55 "streaming from alsa input"
Hi I tried to stream alsa input (as mp3 file) with deefuzzer but I get this error:

    Traceback (most recent call last):
      File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
        self.run()
      File "/usr/local/lib/python2.7/dist-packages/deefuzzer/station.py", line 625, in run
        self.set_read_mode()
      File "/usr/local/lib/python2.7/dist-packages/deefuzzer/

[2015-01-27 12:26] nim4n opened #56 "authentication"
hi
Is there any way to authenticate user before connecting to the server?

[2015-01-27 18:53] achbed commented on #56
This means different things depending on which server you mean.  If you mean the output from Icecast, you can look at http://www.icecast.org/docs/icecast-2.4.1/auth.html for more information.

If this is not what you meant, please be more specific on what exactly you are trying to secure.

[2015-01-27 20:06] achbed commented on #55
The pull request fixes the bitrate issue,but not the reference issue you saw.  I'm working up a fix to address this issue now.

Crash is caused by an input file/stream not containing any metadata in a readable format.

[2015-01-27 23:18] achbed commented on #55
The pull request noted now includes a fix for this issue (as well as future-proofing)

[2015-01-28 03:55] achbed commented on #55
@min4n can you load up the latest dev branch and confirm/deny that this fixed your issue?

[2015-01-28 05:01] #56 closed

[2015-01-28 05:14] nim4n commented on #55
@achbed I use dev branch and I get this error:

    Traceback (most recent call last):
      File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
        self.run()
      File "/usr/local/lib/python2.7/dist-packages/DeeFuzzer-0.6.6-py2.7.egg/deefuzzer/station.py", line 760, in run
        if not self.icecastloop_nextmedia():
      File "/usr/local/lib/python2.7/dist-packages/DeeF

[2015-01-28 05:15] achbed commented on #55
GAH.  ok - fixing now.

[2015-01-28 05:34] achbed commented on #55
That's odd.  I'm in the dev branch and that's not at all what I have on line 727 or 760.  Which dev branch are you looking at?

[2015-01-28 05:49] nim4n commented on #55
sorry I was on master branch, after using dev branch I got this error in log file:

    2015-01-28 09:16:56,764 INFO Core: Started station Station 0
    2015-01-28 09:16:56,764 INFO Core: Writing M3U file to :    /home/niman66/Temp/deefuzzer/mystation.m3u
    2015-01-28 09:16:56,766 INFO Station http://localhost:8000/my_station.mp3: Channel available.
    2015-01-28 09:16:56,766 INFO Station http:

[2015-01-28 05:57] nim4n commented on #55
my xml is:

        <'infos'>
            <'short_name'>my_station<'/short_name'>
            <'name'>My best funky station<'/name'>
            <'description'>My personal best funky playlist ever !<'/description'>
            <'url'>http://localhost<'/url'>
            <'genre'>Various Funk Groove<'/genre'>
        <'/infos'>
        <'server'>
            <'type'>icecast<'/type'>
            <'h

[2015-01-28 06:08] nim4n opened #59 "losing relay connection"
I want to use another stream in deefuzzer and my xml is:

        <'infos'>
            <'short_name'>radio<'/short_name'>
            <'name'>radio<'/name'>
            <'description'>radio<'/description'>
            <'url'>http://localhost<'/url'>
            <'genre'>radio<'/genre'>
        <'/infos'>
        <'media'>
            <'dir'>/home/niman66/ogg/<'/dir'>
            <'format'>mp3<'/f

[2015-01-28 06:15] achbed commented on #59
Relay mode needs some testing and verification.  One of the last pull requests I made a few minutes ago had a fix for an issue when using relay mode.  I'm sending up another pull request for some regression issues then will investigate this one.

[2015-01-28 06:16] achbed commented on #55
Pull request to fix this (and more regression issues with MediaBase) incoming.

[2015-01-28 06:19] achbed commented on #55
Pull request #58 fixes the crashing issue.  For now, you can jump over to my dev branch if you need to get this running immediately.

[2015-01-28 06:29] nim4n commented on #55
OK, thanks a lot

[2015-01-28 07:16] #55 closed

[2015-01-28 14:20] yomguy commented on #55
If the @achbed's patch is very welcome and fixes indeed the lack of metadata in this special use case, I have to say I disagree with the methodology used here for streaming the live audio source in many aspects:

 *  first ffmpeg is useful (I use it a lot) but it's not really designed for live situations IMHO. My dev team had included itself the JACK driver to the main project some years ago, but

[2015-01-28 14:26] yomguy commented on #59
The AAC format is not supported at all by libshout, nor by icecast, nor by deefuzzer.
Please try with OGG or MP3.
Note that I've been using the relay mode in production for years, and it's very well tested and stable ;)

[2015-01-28 14:41] #21 closed

[2015-01-28 14:43] yomguy commented on #44
Managing char coding is hard an painful, so I need some more tests / hacks on this on various languages.

[2015-01-28 15:45] achbed commented on #59
Sorry I missed the AAC bit and honed in on the crash.  It drives me nuts the number of people who are attempting to get AAC to work in audio streams when everything clearly states it's unsupported at every step in the chain except for the source.

That said, should we investigate an AAC audio streaming solution that deefuzzer can take advantage of?

[2015-01-28 16:41] yomguy commented on #59
No pb ;) Yes me too, maybe we should add some warnings or skips when the mimetypes are not compatible...et
On the other side, the fact is that the current relaying method is a curl callback pushing to any server accepting the type of request. I use it only now on video webm streams through stream-m (until I get it right on icecast) but it could work on any other format as long as the server accept

[2015-01-28 21:27] ChoiZ commented on #20
I'll check this too.

[2015-01-28 21:37] ChoiZ opened #60 "Is branch "daniel" already used?"
Can we merge or drop "daniel" branch or @yomguy you want to keep it?

[2015-01-28 21:39] ChoiZ opened #61 "Tag last commit from 0.7"
@yomguy Can you tag the last 0.7 commit to keep each version in "tags" list?

[2015-01-28 21:42] achbed opened #62 "Create Beta-0.7 branch"
Can we create a new branch and call it Beta-0.7?  That way we can begin final testing and apply only bug fixes to this branch, and save anything that requires new features to the main dev branch.  That is, if we're targetting a 0.7 release near 2/1.

[2015-01-28 22:06] yomguy commented on #61
I will!

[2015-01-28 22:08] yomguy commented on #60
checking and trying to merge.. some hacks are good, but need some tests.

[2015-01-28 22:24] yomguy commented on #60
I'm afraid the patch proposed by Daniel Bedeleanu has too much conflicts against the refactored code. Although there is a good idea to hash the playlist, I really don't want to add unstability to the huge work of @achbed for the next RC. So the merge will be delayed until it is fixed and tested.

[2015-01-28 22:27] #62 closed

[2015-01-29 04:31] nim4n commented on #59
oh sorry I missed the aac too!

[2015-01-29 04:31] #59 closed

[2015-01-29 07:06] achbed commented on #60
The idea of using a hash for playlist change detection is intriguing.  I can look into that next week.

[2015-01-29 07:53] ChoiZ commented on #60
Ok @yomguy thanks for the answer. @achbed I'll try the 0.7 tonight ;) (thanks for your awesome work).

[2015-01-29 08:09] nim4n commented on #59
I solve this by using ffmpeg to convert  live stream on the fly to ogg and then I put the ogg file in deefuzzer.

[2015-01-29 08:30] yomguy commented on #59
Great! So streaming from ffmpeg to the deefuzzer relay works well for you? Do you use a FIFO or a file for the ogg?

[2015-01-29 23:29] ChoiZ opened #66 "mountpoint name is back with ".mp3" ".ogg""
The extension ".mp3" is back on mountpoint name in 0.7 ;)

We remove it in 0.6.6.

[2015-01-29 23:33] ChoiZ commented on #22
Seems works well.

[2015-01-29 23:33] #22 closed

[2015-01-29 23:36] ChoiZ commented on #20
I confirm. No crash but nasty chars on Icecast metadata.

[2015-01-29 23:56] ChoiZ opened #67 "m3u doesn't work in yaml "source""
My configuration file is a yaml. Maybe it's works well with an xml file or other formats…

When I use a folder like `/home/choiz/tracks/` It's works well!
When I use a m3u file like `/home/choiz/playlist.m3u` It's doesn't works well.

My media config is like:

    media: {source: /home/choiz/playlist.m3u,
            format: mp3,
            bitrate: 192,
            ogg_quality: 0,
            sa

[2015-01-30 02:51] achbed commented on #67
Can you post the complete config file, as well as the contents of the m3u file you're referencing?

[2015-01-30 03:00] achbed commented on #66
It's not present on my config.  Are you specifying one in the config file?

[2015-01-30 03:10] achbed commented on #44
Icecast metadata can have more than just title, but the output in the status XSLT files in the default install does not send them out.  You can modify the files to do that.  The extra metadata does get communicated on the stream I believe.

[2015-01-30 07:43] ChoiZ commented on #66
I think no, I only add serverdefault node and update media, dir to source. It's the same config i use for 0.6.6

[2015-01-30 07:44] ChoiZ commented on #67
OK I'll do that tonight ;-)

[2015-01-30 07:45] achbed commented on #66
Whats' in the serverdefault node?

[2015-01-30 07:50] yomguy commented on #20
In ISO or UTF8 mode, the special chars are displayed bably. The only way I managed to tune this is to force icecast to run the mountpoint in UTF8 like that:
[code]

[2015-01-30 07:51] ChoiZ commented on #44
With clementine I have artist and song title in 2 fields because clementine split " - " in metadata info. You can do it on your player (I think it's less difficult to edit player instead of icecast).

[2015-01-30 07:53] yomguy commented on #66
Maybe we should set the whole mountpoint explicitely in the config, i.e. replacing shortname by mountpoint?

[2015-01-30 07:57] achbed commented on #44
In most cases, it would be easier to edit your player.  I've written a new ```status-json2.xsl``` file for mine that exports key stream information as a JSON object.  It either uses ```artist``` and/or ```song``` fields, or auto-splits the ```title``` field automatically.

[code]

It's a bit of a run-on sentence to make sure there's no unexpected newlines (which break certain JSON interpreters).

[2015-01-30 08:09] achbed commented on #66
The logic on mountpoint naming in 0.7 is as follows:
Use ```station:server:mountpoint``` if specified, OR
Use ```station:info:short_name``` if specified, OR
Use ```default```.

[2015-01-30 08:14] achbed commented on #20
I have my Icecast server set up that way and it seems to be OK.  I had done that during my initial configuration ages ago and forgot all about it.  It's a good note - maybe we should make a note of this in the wiki?

[2015-01-30 08:33] yomguy commented on #44
Great! This should be the default setup in icecast :)

[2015-01-30 08:34] yomguy commented on #66
Oh yes, I forgot this new options, perfect @achbed ;)

[2015-01-30 08:34] #66 closed

[2015-01-30 08:35] achbed commented on #66
Should the default be 0 instead (if 0.6.6 did indeed change behavior to suppress)?

[2015-01-30 08:36] yomguy commented on #20
Me too :) Sure, I'll had this to the doc.
@achbed, are you OK with 0.7?

[2015-01-30 08:43] achbed commented on #20
See comment on (closed) #66.  That's my only open question at the moment for 0.7.  We do have #67 we should address before we declare everything good.

[2015-01-30 08:59] yomguy commented on #66
Maybe because it seems Itunes or other nasty player have bugs with streams urls including an extension. @ChoiZ can you confirm this?

[2015-01-30 09:34] achbed commented on #66
See #68 - default for ```appendtype``` is now 0 (suppress output) to match readme notes from 0.6.6

[2015-01-30 09:39] ChoiZ commented on #66
Thanks guys, I'll try again and told you.

[2015-01-30 12:40] ChoiZ commented on #67
@achbed My files: https://gist.github.com/ChoiZ/dcf97cc962a678b112c3

M3U playlist was generated by: https://github.com/ChoiZ/simple-php-scheduler or https://github.com/ChoiZ/simple-python-scheduler (I don't remember I think I use PHP, so it's the same code: one in PHP the other in Python).

[2015-01-30 12:48] ChoiZ commented on #66
Nice it's works like a charm.

[2015-01-30 13:14] ChoiZ commented on #61
Ok I think it was already merged on master so… ;-)

[2015-01-30 13:24] ChoiZ commented on #44
Out of context (maybe your xsl can be a gist).

We can create "gist" for sharing code (ie: for config in /examples folder).
We can show all revision with gist instead of "comments".

Creating "gist" allow to have:
- yaml config 0.6.6 (revision 1)
- yaml config 0.7 (revision 2)

What do you think about that?

[2015-01-30 14:59] yomguy commented on #44
Good point @ChoiZ
As explain in #20, icecast mountpoints should be configured with UTF8 to allow special chars.

[2015-01-30 16:31] achbed commented on #44
I've added this code to the wiki.

[2015-01-30 16:53] achbed commented on #67
[code]
The log entry says there's 0 tracks.  This tells us that the M3U file is either not pointing to the files correctly, or all the files listed in the M3U do not exist.

Are your MP3s really at the root level (```/mp3/*```) or are they in a subfolder where the M3U file is located (ie, ```/some/path/to/m3u/mp3/*```)?  By the M3U standard, if the path in the file starts with a slash (or drive le

[2015-01-30 16:55] achbed commented on #67
Hrm - I wonder if the code is properly stripping off line endings or if it's trying to find ```/mp3/mp3-file.mp3\n``` instead of ```/mp3/mp3-file.mp3```.  Worth looking at.

[2015-01-30 20:08] ChoiZ commented on #67
Hi achbed, I think my m3u file is correct (It's works with previous version of deefuzzer 0.6.6).
In my m3u I use path begin the root path (I'm on linux).
If I've got an m3u located in: ```/home/choiz/``` and my song in ```/home/choiz/mp3/test.mp3``` in my m3u I have to write ```/home/choiz/mp3/test.mp3``` or directly ```mp3/test.mp3``` ?

[2015-01-30 20:10] yomguy commented on #67
Maybe with .rstrip() ?
http://stackoverflow.com/questions/275018/how-can-i-remove-chomp-a-newline-in-python

[2015-01-30 20:11] achbed commented on #67
Either one should work according to the standard.   I'll whip up a test and see what I can find.

[2015-01-30 20:12] achbed commented on #67
```.strip()``` removes white space from both the beginning and end of the string, where ```.rstrip()``` only strips white space from the end.  So our using ```.strip()``` in the code should be sufficient.

[2015-01-30 20:25] ChoiZ commented on #67
Ok I add 2 print in the code: ```deefuzzer/station.py```, one before and one after: ```fp = self._path_m3u_rel(path)```
It's display the first but doesn't display my second print. Can helps you?

[2015-01-30 20:54] ChoiZ commented on #67
Seems working well. ```Generating new playlist (802 tracks).```

I replace:

    def _path_m3u_rel(self, a):
        return os.path.join(os.path.dirname(self.source), a)

By:

    def _path_m3u_rel(self, a):
        return a

[2015-01-30 20:56] achbed commented on #67
That breaks standards but works if the full path is in the m3u. I'll take a
closer look at that function.
On Jan 30, 2015 2:54 PM, "François LASSERRE" <notifications@github.com>
wrote:

[2015-01-30 21:01] ChoiZ commented on #67
Oh ok I think m3u must have only absolute path. Nice point. :+1:

[2015-01-30 21:13] ChoiZ commented on #67
def _path_m3u_rel(self, a):
        return os.path.join(os.path.dirname(self.source), a)

it's not ```source``` but ```media_source``` no?

[2015-01-30 21:15] achbed commented on #67
*facepalm*  Yes that is indeed the problem.  To prevent similar issues/confusion in the future, I'm going to refactor and use self.source everywhere instead of self.media_source.  Any objections?

[2015-01-30 21:16] ChoiZ commented on #67
Not for me ;)

[2015-01-30 21:19] ChoiZ commented on #67
no more ```self.source``` in deefuzzer/station.py

[2015-01-30 21:29] achbed commented on #67
Did you commit your changes anywhere?  Or should I submit the pull request?

[2015-01-30 21:32] ChoiZ commented on #61
@yomguy For me (and my tests) 0.7 is ready. Ask to @achbed if it's good.

[2015-01-30 21:32] ChoiZ commented on #67
I send PR #70 and add another one for trailing whitespaces.

[2015-01-30 22:41] yomguy commented on #67
Yes absolute paths are really needed for M3U. Well done!

[2015-01-30 22:42] #67 closed

[2015-01-30 22:43] achbed commented on #67
Do you have a link to the M3U file definition?  I had been using the one on Wikipedia at https://en.wikipedia.org/wiki/M3U - and it clearly stated that both full paths and relative paths are allowed.  If there's a better source, I'd like to reference it.

[2015-01-30 23:49] #20 closed

[2015-01-30 23:53] yomguy commented on #61
Released! :)
Thanks a LOT  @achbed and @ChoiZ!!

[2015-01-30 23:53] #61 closed

[2015-01-30 23:59] yomguy commented on #67
No better source, but allowing relative paths in the case of deefuzzer is dangerous I think because an instance of deefuzzer can be started from anywhere and the config file not always in the media root.
Maybe I can miss some possibilities offered by your refactoring, but I tend this restriction in our case could prevent us from many issues..

[2015-01-31 02:00] achbed commented on #67
Given that the relative path is relative to the M3U file, not an arbitrary base_directory parameter in the config, we are probably limiting the security impact.  We can probably eliminate most of the attacks completely if we then check for file type before adding them to the playlist.

We should probably invest in a complete security review though, rather than attacking these issues piecemeal.

[2015-01-31 06:10] nim4n commented on #59
I'm using file and It works fine.

[2015-01-31 13:15] yomguy commented on #59
Cool :)

[2015-01-31 13:18] yomguy commented on #44
Good to have started the wiki. As I wanted to simplify the README, I've put you doc about station folders also in the wiki. Tell me if you are OK with that.

[2015-01-31 14:11] ChoiZ commented on #44
I'll check that. For @achbed icecast's config we must add icecast minimum version. (status-json2.xsl is implemented since 1 year in my memory).

[2015-01-31 14:15] ChoiZ commented on #44
For station folder doc, I think we have to create a "real" configuration like ```/home/deefuzzer``` for mp3 folder. Define a real shortname ```MyStation``` a name ```MyStation``` too? a gender ```pop, rock…``` and a media.dir ```mp3``` if I understand this path is concat(stationfolder.folder + media.dir)? so equal to ```/home/deefuzzer/mp3```?

[2015-02-01 00:01] achbed opened #73 "Requesting testers"
I've created a new branch called dsw-playlist.  It's got a large number of changes that need testing, including an all-new playlist class.  You can see the code at https://github.com/achbed/DeeFuzzer/tree/dsw-playlist - feel free to branch and submit pull requests back.  At the current time, it's completely untested, and pretty much guaranteed to break your instance, so do NOT use this on a produc

[2015-02-01 06:10] yomguy commented on #44
Yes @ChoiZ you are welcome to add any more examples to the doc / wiki ;)

[2015-02-01 11:11] ChoiZ commented on #44
Ok so I need an answer for "media.dir".

[2015-02-01 12:47] yomguy commented on #73
Hi @achbed. Impressive upgrade program! I'm in of course for testing.
Just a comment while I first read the code: new modules should be named with lowercase chars as proposed by pep8. I know the code is not completely compatible with pep8 yet, but this rules makes sense to me for every python projects.

[2015-02-01 19:20] achbed commented on #73
Bah - I'll fix that.  The issue here is that I'm going to have to rename it completely since my main dev box is Windows (and the file system is case insensitive).  Just a warning for when you look at it next time.

[2015-02-01 20:33] yomguy commented on #73
OK. This is only the case for tools/Playlist and tools/Media.
So can we say DeeFuzzer runs on Windows ?

[2015-02-01 20:33] yomguy commented on #73
Seems like a circular import to fix:
[code]

[2015-02-01 22:11] achbed commented on #73
Well, this is indeed a naked test version - there's going to be a lot of
that for a bit :)

Working up another commit now.

On Sun, Feb 1, 2015 at 2:33 PM, Guillaume Pellerin <notifications@github.com

[2015-02-02 15:50] achbed commented on #73
As for running on Windows, it doesn't work right now.  I haven't gotten the some of the packages running (especially python-shout).  I'm testing on a Ubuntu server and editing in an IDE on Windows using a separate git instance to push up changes.

[2015-02-02 19:48] achbed commented on #73
I think I've gotten a lot of the issues you mentioned nailed down.  I've added media type filtering to the playlist objects (so we can't mix media types within a single playlist).  I've also done a ton of refactoring, cleanup, and documentation to the code.

[2015-05-05 18:56] kprkpr opened #77 "IndexError: tuple index out of range"
I dont know why but I can not start deefuzzer.. throws this error:
Traceback (most recent call last):
  File "/usr/local/bin/deefuzzer", line 56, in <module>
    main()
  File "/usr/local/bin/deefuzzer", line 48, in main
    d = deefuzzer.core.DeeFuzzer(sys.argv[-1])
  File "/usr/local/lib/python2.7/dist-packages/deefuzzer/core.py", line 69, in __init__
    self.conf = get_conf_dict(self.conf_file

[2015-05-10 19:32] yomguy commented on #77
Hi,
Sorry but you cannot use the documented XML example for now. Althrough we are going to change the XML parser which will fix that, you might start you config file with example/deefuzzer.xml or example/deefuzzer.json or example/deefuzzer.json.

[2015-05-10 21:23] kprkpr commented on #77
great! Now works

Hmm.. But I dont know how to do to relay a live stream when it are, and when there arent, music files of the computer (Auto-conmuting)

[2015-05-11 07:27] yomguy commented on #77
There is no such automatic switch but could be done with a little file system check indeed.
But I wonder how you could have some files or not in your usecase...
I'm closing this issue because your primary need is satisfied ;)

[2015-05-11 07:27] #77 closed

[2016-01-31 21:14] ChoiZ opened #78 ""Next Play" doesn't update in current.json"
In the metadata section the next play time doesn't update.

[2016-02-01 00:55] yomguy commented on #78
That's right, the trigger has been removed in the last pull requests and will be re-added soon!
Thanks @ChoiZ for the warning.

[2016-02-01 01:00] #73 closed

[2016-02-01 01:02] yomguy commented on #48
Hi @achbed!
Would you be available some day for a sprint on 0.8?
Cheers

[2016-02-01 01:04] #60 closed

[2016-02-02 13:10] ChoiZ opened #79 "Can't start more than one station at same time with the yaml config format"
I try to load 3 stations in the same config and I've got Station 2 is stopped and will not be restarted.

I try to load 1 station per config and load 3 configs and the third one:
- Core: Station Station 0 is stopped and will no be restarted.

[2016-02-03 02:07] achbed commented on #48
I might be. It depends on the timing. At least 2 weeks notice would be
great.
On Jan 31, 2016 7:02 PM, "Guillaume Pellerin" <notifications@github.com>
wrote:

[2016-02-03 07:26] ChoiZ opened #81 "tag 0.6.6"
Add a tag 0.6.6 on the specific commit.
Maybe it's: 25a88da

[2016-02-03 11:17] yomguy commented on #48
Let's say around the 19/2/16?

[2016-02-03 11:18] yomguy commented on #81
Sorry, I don't understand the issue :(

[2016-02-03 12:56] ChoiZ commented on #81
Ajouter un tag (git tag) au commit qui correspond à la version 0.6.6

[2016-02-03 13:07] ChoiZ commented on #79
My icecast config source was set to "2" sources…

By the way, the message in the log is not explicit.

[2016-02-03 13:24] yomguy commented on #81
ah ok :)

[2016-02-03 13:27] #81 closed

[2016-02-03 13:36] yomguy commented on #79
Ah, I was about to ask you about your icecast conf :) (very usual situation as it is fixed to 2 by default in many distribs...).
By the way, what is your deefuzzer config file type?

[2016-02-03 17:47] ChoiZ commented on #79
I use xml file for my config.

I build my own icecast but the default config value is 2…

[2016-02-03 17:48] ChoiZ commented on #81
Thanks! It's better for rollback to previous version.

[2016-02-06 08:24] yomguy commented on #79
OK. I'm re-opening because the bug is effective with yaml config format..

[2016-02-06 21:07] ChoiZ commented on #79
Ok ;)

[2016-02-13 10:33] ChoiZ opened #82 "What is the best way to call playlist.py to regenerate a new playlist.m3u?"
I write [a little playlist scheduler](https://github.com/ChoiZ/simple-python-scheduler/blob/master/scheduler.py) and I want to call this playlist generator on startup and when the playlist end to generate a new one.

@yomguy What is the best way to call my playlist generator?

Thanks in advance ;)

[2016-02-16 14:45] yomguy commented on #82
I guess you could trigger your external app in the get_playlist() method using os.system(...) and adding an option in the config to give the app start command ?  https://github.com/yomguy/DeeFuzzer/blob/master/deefuzzer/station.py#L403

If this app returns a m3u file, then it may be read by the same method as in this part:
https://github.com/yomguy/DeeFuzzer/blob/master/deefuzzer/station.py#L421

[2016-03-18 08:48] daslicht commented on #3
Any news on teh cuesheet or similar to support one source file ?

[2016-05-22 14:50] ChoiZ commented on #82
Is it possible to load a playlist (m3u) and the last element of this playlist is another playlist to load?

playlist1.m3u content:

playlist2.m3u content:

[2016-09-04 01:13] dejongheni opened #83 "Could not send the buffer"
There is a 10-20s seconds break between each song where the stream seems to be interupted, here is the log :

2016-09-04 03:00:17,946 INFO Station http://exemple.com:8000/radio.mp3: channel restarted
2016-09-04 03:05:13,710 INFO Station http://exemple.com:8000/radio.mp3: DeeFuzzing:  id = 8, name = 1-06 LABYRINTH.mp3
2016-09-04 03:05:13,748 ERROR Station http://exemple.com:8000/radio.mp3: could no

[2016-11-06 20:58] Metal-Mighty opened #84 "Display album name"
Hi

I am currently setting up a new webradio on my website and I would like my listeners to have the album title displayed on the Icecast status page or on their media player. I am streaming game soundtracks so having the album title is pretty much mandatory since soundtrack track titles aren't always very explicit as to which game they come from.

Is this possible using DeeFuzzer?

[2016-11-10 08:41] yomguy commented on #84
Hi,
It's not possible yet - and icecast doesn't have the field - but should be easy to setup adding the album name to the song title through this method:
https://github.com/yomguy/DeeFuzzer/blob/master/deefuzzer/station.py#L673

[2017-02-18 13:32] ghost opened #85 "Can DeeFuzzer do this?"
I only have very basic needs, but struggling a streaming client to offer them.

- Randomly stream a directory of MP3, no need to transcode
- Notice when new files are added and add them to the random pool
- Optionally offer more a smart shuffle than true random (smart shuffle means everything gets played before things get repeated).

I don't need jingles, this isn't going out over the internet, it

[2017-02-27 11:55] yomguy commented on #85
Hi @mgillespie
yes, DeeFuzzer should be perfect for your needs ;) It indeed :
- stream mp3 without transcoding
- checks for new files each time between two track play and add them to the playlist
- read the whole playlist before repeating

there could be just a workaround with the 2nd task because the playlist is entirely re-generated. But we could easily make an exception for this as on option if

[2018-06-21 11:05] mooseh opened #87 "What DeeFuzzer can do?"
Hi There

im wondering firstly is there a place where we can ask these questions rather than leave an issue in github? :)

secondly can DeFuzzer receive and input from an encoder?
for example i send a stream with an icy protocol to DeFuzzer and deFuzzer sends to icecast?

Kind Regards
MooseH

[2018-08-29 07:30] yomguy commented on #87
Hi @mooseh
Yes sure you can post question!
The DeeFuzzer doesn't have any open input yet although it can can relay from an external streaming source itself. For example, relaying an icecast stream to another icecast server.
So, at the moment, it is only possible in yur case if the ICY source can provide a port or a mountpoint of its stream.

[2019-05-22 11:00] ckhawks commented on #25
I hate to gravedig, but I'm getting the same symptoms as this issue today. I've tried both cloning from GitHub as well as installing via pip, neither work. Each time I run deefuzzer using the following .xml configuration file I get the following console + station log output.

.xml
[code]

Console output
[code]

station.log
[code]

[2019-05-22 21:58] yomguy commented on #25
Hi @ckhawks,
The deefuzzer has not been tested against libshout 2.4.1. So I will make a new release soon when done and fixed.

[2019-06-01 05:36] #44 closed

[2019-06-02 22:09] #79 closed

[2019-06-02 22:13] yomguy commented on #83
Hi @dejongheni sorry I have missed your issue. Is it still relevant?

[2019-06-02 22:13] #85 closed

[2019-06-02 22:16] yomguy commented on #25
Hi @ckhawks,
I have released 0.7.2 tested against libshout 2.4.1 with success. Could you send your YAML file?
A segmentation fault is usually a pb of parameters pushing libshout in a wrong state...

[2019-06-02 22:23] yomguy commented on #82
Hi @ChoiZ
Hope you are well !
I am afraid I have missed your questions 3 years ago! :(
1. DeeFuzzer is not capable of launching a playlist in a playlist yet..
2. Currently the playlist is reloaded only if a new track is added to the media directory. But it should be definitely interesting to be able to do it in other contexts! I will add this feature to 0.8.

[2019-06-02 22:23] #82 closed

[2019-06-02 22:24] yomguy opened #89 "Playlist reload interface"

[2019-07-04 07:32] jawak opened #90 "segmentation fault (core dumped)"
![Screenshot from 2019-07-04 14-31-40](https://user-images.githubusercontent.com/25633643/60647713-8532d800-9e68-11e9-817c-9f08b82cc805.png)
My config

    <log>./log/station.log</log>
    <m3u>./log/station.m3u</m3u>
    <stationdefaults>
        <control>
            <mode>0</mode>
            <port>16001</port>
        </control>
        <jingles>
            <dir>/path/to/jingles</dir>

[2019-07-15 15:19] #90 closed

[2019-07-15 21:31] yomguy commented on #90
Hi @jawak
Sorry I didn't catch your first message. Usually deefuzzer crashed because of a bad config file setup.
Is it now better for you?

[2019-07-16 06:26] jawak commented on #90
@yomguy
upgrade python-shout 0.2.5
Seems works well.

[2019-08-07 16:01] clarkenheim commented on #25
I am having the same issue as @ckhawks config here:
`<deefuzzer>
    <log>/deefuzer_station.log</log>
    <maxretry>4</maxretry>
    <stationdefaults>
        <control>
            <mode>0</mode>
            <port>16001</port>
        </control>
        <jingles>
            <dir>/home/ubuntu/jingles</dir>
            <mode>0</mode>
            <shuffle>1</shuffle>
        </jingles>
    </station

[2019-08-09 20:28] yomguy commented on #83
Hi @dejongheni
You should use another relevant IP or your own valid domain (not exemple.com)

[2019-08-09 20:28] #83 closed

[2019-12-25 23:40] robnoordt opened #91 "pkg_resources.DistributionNotFound: The 'pycurl' distribution was not found and is required by DeeFuzzer"
Hi, installed the deefuzzer on raspberry 3 debian stretch. The following erroor when starting the program. Pleace can some one give a stap bi stap solution? I am not realy good whit python. Hope to here soon!
pkg_resources.DistributionNotFound: The 'pycurl' distribution was not found and is required by DeeFuzzer
#

[2019-12-26 12:35] robnoordt commented on #91
Here the full output:

root@raspberry3:~# deefuzzer /etc/deefuzzer/setup.pi
Traceback (most recent call last):
  File "/usr/local/bin/deefuzzer", line 4, in <module>
    __import__('pkg_resources').run_script('DeeFuzzer==0.7.2', 'deefuzzer')
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3251, in <module>
    @_call_aside
  File "/usr/local/lib/python2.7/dist-packa

[2019-12-28 13:41] robnoordt opened #92 "deefuzzer install failer: ERROR: Command errored out with exit status 1:"
Hi,

On a raspberry pi 3, running Debian Stretch and python 3.6.5, it does not work to install deefuzzer. Below the last part of the output from the putty screen. I am making use of a screenreader and because of that I cannot copy the whole screen. But II hope you can help to find a solution.
Welkome sugesions!
==>>
collected packages: pyliblo
  Building wheel for pyliblo (setup.py) ... error
  ER

[2019-12-28 16:21] yomguy commented on #91
Hi @robnoordt, thanks for the report.
It seems like `pycurl` is missing.
Did you install all required packages?
[code]

[2019-12-28 16:23] yomguy commented on #92
@robnoordt
As for #91, a dependency is missing here (liblo-dev), try:
[code]

[2019-12-29 13:26] robnoordt commented on #92
Here are the results;

root@raspberry3:~# sudo apt-get install python-pip python-dev python-liblo python-mutagen python-pycurl python-yaml libshout3-dev librtmp-dev liblo-dev libcurl4-openssl-dev libmysqlclient-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libmysqlclient-dev is not available, but is referred to by another package.
This may mea

[2019-12-29 23:04] yomguy commented on #92
@robnoordt oh! libmysqlclient-dev seems not available anymore, we should then install libmariadbclient-dev instead.

Your last command did not installed other necessary packages, so please install all of them:
[code]
Fixed in #743ca82

[2019-12-29 23:30] yomguy commented on #25
Sorry, I am (very) late @clarkenheim !

I cannot reproduce the bug with version 0.7.3 and :

- without `sudo`
- using `<log>/tmp/deefuzer_station.log</log>`

Could you please retry?

[2019-12-29 23:31] yomguy commented on #25
@clarkenheim also try to kick out `heart.mp3`

[2019-12-30 15:27] robnoordt commented on #92
Thanks again for your responce. Almost there.
Here comes mi results;
apt install python-pip python-dev python-liblo -y
apt install python-mutagen python-pycurl python-yaml -y -y
apt install libshout3-dev librtmp-dev liblo-dev -y
apt install libcurl4-openssl-dev libmariadbclient-dev -y

Nouw installed all succesfullyu!
After tthis the deefuzzerr install;
==>>

root@raspberry3:~# pip install deefuzz

[2019-12-31 11:01] yomguy commented on #92
Hi @robnoordt
The current version is compatible with python 2.7 only **but** I have just prepared a python 3 version.
Please stay tuned, I will push it today if everything is fine ;)

[2019-12-31 11:37] robnoordt commented on #92
Oh, that will be great! Looking forward.

[2019-12-31 17:58] yomguy commented on #92
@robnoordt 0.8.0 is now available, compatible with Python 3.
See https://github.com/yomguy/DeeFuzzer#installation for new dependencies.
Enjoy! ;-)

[2019-12-31 17:58] #92 closed

[2019-12-31 17:59] yomguy commented on #91
fixed in #92

[2019-12-31 17:59] #91 closed

[2019-12-31 19:23] robnoordt commented on #92
[Errno 2] No such file or directory: '/etc/deefuzzer/deefuzzer.yaml'
root@raspberry3:~# deefuzzer
 deefuzzer : easy and instant media streaming tool
 version : 0.8.0
 running on system : Linux

 Copyright (c) 2007-2019 Guillaume Pellerin <yomguy@parisson.com>
 All rights reserved.

 This software is licensed as described in the file COPYING, which
 you should have received as part of this distribu

[2019-12-31 19:34] robnoordt commented on #92
After installing/updating the install packages, that worked out Ok,
Just in the commandline deefuzzer;
[Errno 2] No such file or directory: '/etc/deefuzzer/deefuzzer.yaml'
root@raspberry3:~# deefuzzer
 deefuzzer : easy and instant media streaming tool
 version : 0.8.0
 running on system : Linux

 Copyright (c) 2007-2019 Guillaume Pellerin <yomguy@parisson.com>
 All rights reserved.

 This software

[2019-12-31 19:39] robnoordt commented on #92
After installing/updating the install packages, that worked out Ok,
Just in the commandline deefuzzer;
[Errno 2] No such file or directory: '/etc/deefuzzer/deefuzzer.yaml'
root@raspberry3:~# deefuzzer
 deefuzzer : easy and instant media streaming tool
 version : 0.8.0
 running on system : Linux

 Copyright (c) 2007-2019 Guillaume Pellerin <yomguy@parisson.com>
 All rights reserved.

 This software

[2019-12-31 21:53] yomguy commented on #92
@robnoordt well the error message is explicit : `No such file or directory: '/etc/deefuzzer/deefuzzer.yaml'`
So you miss a right path for your config file.

[2020-01-01 00:59] robnoordt commented on #92
Ok, but where or wat should be the config file? And Where to find? Sorry, I am just a hobbyisst, not spesialist...

[2020-01-05 16:23] robnoordt opened #99 "OSCController object has no attribute"
###  #Hi,

Starting Deefuzzer as daemon works without problems: deefuzzer /etc/DeeFuzzer/deefuzzer.yaml &
Ok, one stream but I like to have more streams. This should be possible in Deefuzzer. So editing the deefuzzer_multiple.yaml file for two stations.
>
deefuzzer:
 log: "/var/log/deefuzzer/multi.log"
 m3u: "/tmp/station.m3u"
 stationdefaults:
  control:
   mode: 1
   port: 16001
  jingles:
   d

[2020-01-06 07:19] yomguy commented on #99
The OSCController is only an interface to controm DeeFuzzer by OSC messages.
In your configuration, 2 same ports are assigned for 2 different channels which is not allowed.
Please use 2 different OSC ports or disable the controller setting each `<control><mode>` to 0.

[2020-01-11 15:24] robnoordt commented on #99
Hi,

Ok, changed to monitor 0 and monitor1. Thad works. Great! Two other issues;
When Also, browsing to localIP:16001 does not work. No page is bean showed here.
And, one other thing; when streaming this two (icecast)stations(in both cases it is shuffling a directory with mp3 files) It stops playing after one or two tracks.

Wat could be a reason and a solution for this two cases? Suggestions?

[2020-01-11 16:29] robnoordt commented on #99
Ok, about what I reported above;
In the beginning I see that Win amp gives the error message when the streaming of MP3 files stops. Error synchronizing http: // streamsite. Is something going wrong with synchronization? And strange that this occurs when changing the played songs. It also happens connecting by internal network. That says, I think, nothing to do whit band wide.

[2020-01-12 01:24] robnoordt commented on #99
Hi,

After midnight yet, coincidentally, I was experimenting. But Ok, I think I solved the problem that tracks stop playing. At least, that seems a bit like that now. Short time to actually test this, so we'll see that tomorrow.
What I've done; I created a m3u playlist of this folder with the valk media placer in the network of the directory to be played (which I indicated in the ml of Deefuzzer).

[2020-01-12 12:19] robnoordt commented on #99
This is the last part of the logfile(/var/log/deefuzzer/deefuzzer.log)
2020-01-12 12:19:24,955 INFO Station http://Raspberry3:8000/monitor1.mp3: Generating new playlist (500 tracks)
2020-01-12 12:19:37,661 INFO Station http://Raspberry3:8000/monitor1.mp3: Generating new playlist (500 tracks)
2020-01-12 12:25:04,500 INFO Station http://Raspberry3:8000/monitor1.mp3: Generating new playlist (500 trac

[2020-06-10 07:33] yomguy commented on #99
Hi @robnoordt, and sorry for th late reply.
Please check your icecast configuration which by default is limited by 1 or 2 sources.
I will close this issue as the first subject is resolved. Please create a new one for the second if the pb persist after tuning the server.

[2020-06-10 07:33] #99 closed

[2020-06-10 07:34] #87 closed

[2020-06-10 07:35] #25 closed

[2020-09-27 16:04] farzadnone opened #100 "Will this application no longer be supported?"
**Will this application no longer be supported? The latest version is nine months ago!** DeeFuzzer is very useful and it is a pity it is not supported.

[2021-06-12 08:18] yomguy commented on #100
Hi @farzadnone don't worry too much, DeeFuzzer is maintained ;)

[2021-06-12 08:18] #100 closed

[2021-09-07 17:38] tingyang01 opened #102 "simple mp3 streaming server"
Hello,
I am trying to build a simple mp3 streaming server with your example XML config file.
But I am not getting any result for that.
I've installed DeeFuzzer on Ubuntu 18.04.
I want to get a simple config example file and please guide this.
this is my config:
'''
deefuzzer:
  log: /home/ubuntu/Work/Music_streaming/music_data/station.log
  m3u: /home/ubuntu/Work/Music_streaming/music_data/station

[2021-09-07 21:10] yomguy commented on #102
Hi @tingyang01, deefuzzer is only a client connected on a streaming server. Which server do you use?
If you don't have, you can install icecast2 on the machine itself, setup the source_password as "icecast_source_password", reload it and then start the deefuzzer client.

[2021-09-07 22:24] yomguy opened #103 "Add a verbose mode"

[2021-09-10 14:52] tingyang01 commented on #102
thank you,
I've run this fresh Ubuntu 18.04.

[2021-09-13 08:01] #32 closed

[2021-10-11 07:34] #102 closed

[2021-11-19 08:34] tingyang01 opened #104 "Deefuzzer and Radio DJ"
I am trying to build Radio DJ service with icecast+Deefuzzer(server) and winamp(client).
So I've installed winamp client on my machine.
but I can not configure the server.
I want to know how I can build the Radio DJ server with Deefuzeer.
Thanks,

[2021-11-23 06:49] yomguy commented on #104
Hi @tingyang01

Nope, the DeeFuzzer is only a client to stream files. So you have to choose between DeeFuzzer and Winamp to connect and push to icecast.

[2021-11-23 06:49] #104 closed

[2021-11-24 09:57] tingyang01 commented on #104
I understand.
Then Could you explain about auto DJ icecast configuration?
Let me know your idea for that.
Thanks

[2021-11-24 14:10] count00zero opened #105 "TTS - Feature Request"
I love the implementation and its "lightness" ...
One Feature I would really love, is beeing able to announce a metadata-change (when the next song starts playing) via TTS ([Mozilla TTS](https://github.com/mozilla/TTS/), or [Larynx](https://github.com/rhasspy/larynx).
Like it is available in [liquidsoap ](https://github.com/savonet/liquidsoap)or [radiobot](http://www.shoutirc.com/index.php?load=Ra

[2021-12-08 18:17] yomguy commented on #104
I don't auto DJ icecast conf, but I can say that DeeFuzzer is a kind of auto DJ application as far as it can stream a playlist of audio tracks automatically and indefinitely to a server.

[2022-01-09 11:37] doomy23 opened #106 "icecastloop_metadata: Error: 'Station' object has no attribute 'song'"
Hi! It's me again, seems like Im stuck, I downloaded the latest version from the repository but I cannot get it to work properly with my icecast2 on Ubuntu 20.04.3.

[code]

Here is the config I use:  `deefuzzer.json`:
[code]

[2022-01-09 11:49] doomy23 commented on #106
I tried different songs and I have a different issue, metadata is present (song) but I get this  :
[code]

[2022-01-09 11:55] doomy23 commented on #106
Oh with `mp3` format I have none of these issues it seems!